@font-face {
    font-family: 'jua';
    src: url('./Jua/Jua-Regular.ttf') format('truetype');
}
#detail {
    padding: 15px 0px 0px 30%;
}
.box {
    margin: 15px 0px 0px 100px;
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1px;
}
#descripton {
    margin-top: 1px;
    font-size: 18px;
    color: #8C8C8C;
}
#viewCount {
    font-size: 18px;
}
header a {
    text-decoration: none;
    color: black;
    font-size: 60px;
}
h2 {
    text-align: center;
}
li {
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
}
ul p {
    width: 30px;
    font-size: 20px;
    float: left;
    margin: 0px 15px 0px 15px;
    color: #604EEB;
}
#a {
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0px;
}
body {
    background-color: #F5F6F8;
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
    font-family: 'jua';
    color: black;
    padding: 40px;
    text-align: center;
}
nav {
    background-color: #F5F6F8;
    padding: 10px;
    text-align: center;
}
#c1 {
    font-family: 'jua';
    display: inline-block;
    padding: 10px 50px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #333;
}
#c2 {
    font-family: 'jua';
    display: inline-block;
    padding: 10px 50px;
    font-size: 25px;
    color: #333;
    text-decoration: none;
}

#c1:hover {
    background-color: #333;
    color: #fff;
}
#c2:hover {
    background-color: #333;
    color: #fff;
}

input[type=radio] {
	display: none;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2),
#tab-3:checked ~ .tab label:nth-child(3) {
	background-color: white;
    border-style: solid;
    border-radius: 5%;
    border-width: 1px;
    border-color: #604EEB;
    box-shadow: none;
    color: #604EEB;
}
.content > div {
	display: none;
}
#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2),
#tab-3:checked ~ .content div:nth-child(3) {
	display: block;
}
.tab	{
    float: right;
    width: 20%;
    overflow: hidden;
    text-align: right;
    padding: 0px 30px 0px 0px;

}
.content {
    background-color: white;
    min-height: 250px;
}
.content > div{
    padding: 30px;
    line-height: 1.5;
    font-size: 17px;
}
.tab label {
    background-color: #F5F6F8;
    font-size: 20px;
    cursor: pointer;
    float: left;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    color: #B0B0B0;
}

#section {
    font-family: 'jua';
    box-shadow: 4px 4px 4px 4px #E4E4E4;
    margin: 10px 200px 40px 200px;
    padding: 10px 45px;
    background-color: white;
    border-radius: 20px;
}

#parent {
    font-family: 'jua';
    margin: 10px 200px 40px 200px;
    padding: 0px;
    background-color: #F5F6F8;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.child1 {
    display:inline-block;
    padding: 30px;
    box-shadow: 4px 4px 4px 4px #E4E4E4;
    background-color: white;
    padding-block: 0px;
    margin-top: 10px;
    flex: 1 0 auto;
    border-radius: 20px;
}
.child2 {
    display:inline-block;
    padding: 30px;
    box-shadow: 4px 4px 4px 4px #E4E4E4;
    background-color: white;
    padding-block: 0px;
    margin-top: 10px;
    margin: 10px 70px 0px 70px;
    flex: 1 0 auto;
    border-radius: 20px;
}
.child3 {
    display:inline-block;
    padding: 30px;
    box-shadow: 4px 4px 4px 4px #E4E4E4;
    background-color: white;
    padding-block: 0px;
    margin-top: 10px;
    flex: 1 0 auto;
    border-radius: 20px;
}

footer {
    font-family: 'jua';
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}
footer p {
    font-size: 20px;
}