<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8"/>
	<title>sample</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">	
</head>
<body>
	<header>
		<a href="./index.html">YoutubeCrawling</a>
	</header>
	<nav>
	</nav>
    <div>
        <section id="section">
            <div class="box">
                <img class="profile" src="{% static 'img/sample_pic.jpg' %}">
            </div>
            <div id="detail">
                <p id="title">Gangaji</p>
                <p id="descripton">@GangajiYotube 구독자 1만명 동영상 500개</p>
                <p id="viewCount">조회수 3,000,000회</p>
            </div>
        </section>
    </div>
	<div>
		<section id="section">
			<h2>그래프</h2>
			<input type="radio" id="tab-1" name="show" checked/>
			<input type="radio" id="tab-2" name="show" />
			<input type="radio" id="tab-3" name="show" />
			<div class="tab">
				<label for="tab-1">일별</label>
				<label for="tab-2">주별</label>
				<label for="tab-3">월별</label>
			</div>
			<div class="content">
				<div class="content-dis">
					<p style="text-align: center; font-size: 20px;">일별</p>
					<img src="{% static 'img/sample_graph.png' %}" style="width: 100%;">
				</div>
				<div class="content-dis">
					<p style="text-align: center; font-size: 20px;">주별</p>
					<img src="{% static 'img/sample_graph.png' %}" style="width: 100%;">
				</div>
				<div class="content-dis">
					<p style="text-align: center; font-size: 20px;">월별</p>
					<img src="{% static 'img/sample_graph.png' %}" style="width: 100%;">
				</div>
			</div>
		</section>
	</div>

	<section id="section">
		<h2>워드 클라우드</h2>
		<img src="{% static 'img/sample_word.png' %}" style="padding: 0px 50px; width: 25%;">
		<img src="{% static 'img/sample_word.png' %}" style="padding: 0px 50px; width: 25%;">
		<img src="{% static 'img/sample_word.png' %}" style="padding: 0px 50px; width: 25%;">
	</section>
	<section id="section">
		<h2>인기 동영상</h2>
		<img src="{% static 'img/sample_graph.png' %}" style="padding: 0px 30px; width: 20%;">
		<img src="{% static 'img/sample_graph.png' %}" style="padding: 0px 30px; width: 20%;">
		<img src="{% static 'img/sample_graph.png' %}" style="padding: 0px 30px; width: 20%;">
		<img src="{% static 'img/sample_graph.png' %}" style="padding: 0px 30px; width: 20%;">
	</section>
	<footer>
		<p>&copy; 팀 프로젝트 1기 4팀 2조</p>
	</footer>
</body>
</html>
